<!DOCTYPE html>
<html 
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

        <!-- DataTable CSS -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />

        <!-- Select 2 css -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    </head>
    <body>

        <!-- Barra de Navegación -->
        <nav class="navbar navbar-expand bg-primary navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#" th:text="${titulo}">Logo</a>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/productos/listado}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ventas/listado}">Ventas</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Usuario
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Mi Cuenta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Salir</a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Area que será reemplazada por contenido de otras paginas -->
        <div class="container-fluid">
            <div layout:fragment="cuerpo">
                <span>Contenido de las otras páginas aquí...</span>
            </div>
        </div>


        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- DataTable JS -->
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

        <!-- Mask JS -->
        <script src="/js/jquery.mask.min.js" type="text/javascript"></script>

        <!-- Sweet Alert 2 -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Select 2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!-- Scripts de cada página ... -->
        <script th:replace=":: js"></script>

    </body>
</html>
