<!DOCTYPE html>
<html 
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate = "~{layout}">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div layout:fragment="cuerpo">
            <form id="form" th:action="@{/ventas/guardar}" th:object="${venta}" method="post">
                <div class="card mt-4">
                    <div class="card-header" th:text="${titulo}">

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-4">
                                <div class="form-group">
                                    <small class="card-text" th:text="'Fecha y Hora'"></small>
                                    <br />
                                    <label th:field="*{fechaHora}" 
                                           th:text="*{#temporals.format(fechaHora, 'dd-MM-yyyy HH:mm')}"></label>
                                </div>
                            </div>
                            <div class="col col-5">
                                <div class="form-group">
                                    <small class="card-text">Descripción</small>
                                    <br />
                                    <textarea th:field="*{descripcion}" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col col-3">
                                <div class="form-group">
                                    <small class="card-text">Total: </small>
                                    <h4 class="text-success" id="total">0.00</h4>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col col-12">
                                <div class="form-group">
                                    <select id="select_productos" name="select_productos" class="form-control select-productos">
                                        <option disabled selected>Seleccione</option>
                                        <option th:each="p : ${productos}" th:value="${p.id}" th:text="${p}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script th:src="@{/js/ventas.js}" th:fragment="js"></script>
    </body>
</html>
