<!DOCTYPE html>
<html
lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate = "~{layout}">
>
<head>
	<title th:text="${titulo}">TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="cuerpo">
		<div class="col-12">
        	<h2>Ventas</h2>
    	<div class="table-responsive">
    	<table class="table table-bordered">
    	<thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                	<tr th:each="venta : ${ventas}">
                	<td th:text="${#temporals.format(venta.fechaHora, 'dd-MM-yyyy HH:mm')}"></td>
                	<td th:text="${venta.descripcion}"></td>
                	<td th:text=${venta.total}></td> 
                	<td>
                		<table class="table table-bordered">
                		<thead>
                            <tr>
                            	<th>Articulo</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr th:each="lineas : ${venta.lineas}"> 
								<td th:text="${lineas.articulo}"></td>
								<td th:text="${lineas.cantidad}"></td>
							</tr>
                        </tbody>
                		</table>
                	</td>
                </tbody>
    	</table>
    	</div>
    	</div>
    </div>
<script th:src="@{/js/ventas.js}" th:fragment="js"></script>
</body>
</html>